<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <img src="/images/logo.png" class="image" alt="StackSquid: Keep all your resources in one place">
            <span class="logo is-uppercase">Stackquid</span><br>Copyright © 2020 David, Joe, Kenzie & Angel. 
           
        </p>
    </div>
</footer>