<nav class="navbar" role="navigation" aria-label="main navigation">
    
        <div class="navbar-brand is-shadowless">
            <a class="navbar-item" id="homelink" href="/homepage">
                <img src="/images/logo.png" class="image" alt="StackSquid: Keep all your resources in one place">
                <h1 class="title is-uppercase ">StackSquid</h1>
            </a>

            <div class="navbar-item">
                <div class="buttons is-shadowless">
                    <a class="button" href="/login">
                        Log in
                    </a>
                    <a class="button" href="/signup">
                        <strong>Sign up</strong>
                    </a>
                    
                </div>
            </div>
        </div>
    
</nav>