<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/mystyles.css" charset="utf-8">
  <title>StackSquid</title>
</head>

<body>
  {{> nav}}
  {{{body}}}
{{> footer}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
</body>

</html>