{{!-- HOMEPAGE Display Greeting --}}
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!--Greeting "Hello User" message --}}
        <h1>{{msg}}</h1>
        {{!-- Title for group changing --}}


        {{!--Group List--}}
        <h2>Choose the group you would like to join!</h2>
        <h3>Groups:</h3>
        <ul id="group-list" class="list-group">
          {{!-- List of Groups W/GroupName-Author-date --}}
          {{!-- Individual Group info will all link to same place
          whether the user clicks on name,date or author will be a link to the groups template with info from the table --}}
          {{#each groups}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="group/{{this.id}}">{{this.name}}</a>

          </li>
          {{/each}}

          {{!--under the group list is a Create-Group-button --}}
          {{!-- Create group button will open a module to render new group --}}
          {{!-- Create group button will ask 4 simple questions --}}
        </ul>
      </div>
      <hr>

      <h3>Create your own:</h3>
      {{!-- Form for group create --}}
      <form id="create-button-group" class="clearfix mb-4" action="POST">
        <div class="form-group">
          <label for="groupName">Group Name</label>
          <input type="text" id="groupName" class="form-control" aria-describedby="example-text"
            placeholder="Group Name Here">
        </div>

        <label>Description</label>
        <input type="text" id="groupDescription" class="form-control" aria-describedby="example-text"
          placeholder="Group Description Here">
    </div>
    <button type="submit" id="create-button" style="background-color: green;">Create</button>

  </div>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>