<body>
    <section class="section">
        <div class="container">
                    <h2 class="subtitle">Sign Up</h2>
                    <form class="control">
                        <div class="field">
                            <label for="exampleInputEmail1" class="label">Email address</label>
                            <input type="email" class="input is-normal" id="email-input" placeholder="Email">
                        </div>
                        <div class="field">
                            <label for="exampleInputPassword1" class="label">Password</label>
                            <input type="password" class="input is-normal" id="password-input" placeholder="Password">
                        </div>
                        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span> <span class="msg"></span>
                        </div>
                        <button type="submit" class="button is-medium">Sign Up</button>
                    </form>
                    <br />
                    <p>Or log in <a href="/login">here</a></p>
                </div>
        </section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="public/js/signup.js"></script>

</body>